*
{
    margin: 0;
    padding: 0;
}

html, body
{
    text-align: center;
    overflow: hidden;
    background: #000;
    color: white;
    font-size: 15px;
    font: bold;
}

#menu
{
    height: 20px;
    width: 50%;
    margin: 10px 0 0 0;
}

footer
{
    text-align: right;
}
